[Unit]
Description=Openbox X-server session
Wants=pango.service

[Service]
User=root
ExecStart=/bin/startx
ExecStop=/bin/pkill X

[Install]
Alias=display-manager.service
